<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>

    <Loggers>

        <!-- ⭐ MyBatis 로그 활성화 -->
        <Logger name="org.mybatis" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <!-- JDBC 로그 -->
        <Logger name="java.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <!-- 전자정부 -->
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="org.egovframe" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <!-- Spring -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <!-- ⭐ Root 반드시 DEBUG -->
        <Root level="DEBUG">
            <AppenderRef ref="console"/>
        </Root>

    </Loggers>
</Configuration>
